.Books_item{
  display: flex;
  width: 100%;
}

.filter_books{
  width: 25%;
  gap: 10px;
}
.templates{
  width: 75%; 
}
.template_books{
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.Books {
  position: sticky;
  top: 60px;
  z-index: 50;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: var(--black-blure-color);
}
.rating{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template_book {
  padding: 40px;
  width: auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 10px;
}
.Name_menu {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100%;
}

.Name_menu h1 {
  font-size: 20px;
  font-family: "Roboto", "Nokora", sans-serif;
  color: var(--black-color);
}
.pagination-container {
  width: 90%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.pagination-arrow {
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid var(--black-blure-color);
  border-radius: 10px;
  margin: 0 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.pagination-arrow:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.pagination-arrow svg {
  color: var(--primary-color);
  font-size: 20px;
}

.pagination-page {
  width: 50px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
}

.pagination-page.active {
  background-color: #b92323;
  color: white;
  border: none;
}

.pagination-page:disabled {
  border: none;
  background-color: transparent;
  color: #888;
}

.sortDropdown {
  font-family: "Roboto", "Nokora", sans-serif;
}
.icon_menu h1{
  padding-left: 10px;
  font-size: 20px;
  font-family: "Roboto", "Nokora", sans-serif;
}

.sortDropdown option {
  font-family: "Roboto", "Nokora", sans-serif;
  font-weight: bold;
}