
:root {
  --primary-color:#ff0000;
  --black-white-color:#ffffff;
  --black-blure-color:#ffffff;
  --text-color:#343434;
}
.active-link {
  color: #ff4500; /* Highlight color for active routes */
  font-weight: bold; /* Makes it bold */
  text-decoration: underline; /* Optional: underline active links */
}

.inactive-link {
  color: #000; /* Default color for inactive routes */
  text-decoration: none;
}


